<h3>Are you sure you want to delete the <%= obj.class_name %>, "<%= obj.display_name %>?"</h3>

<%= form_tag action: obj.destroy_path, method: delete do %>
  <%= submit_tag "Delete #{obj.class}" %>
  <%= link_to 'Cancel', obj.show_path %>
<% end %>
