<h2><%= @user.name %></h2>

<%= user_email(@user) %>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<%= favorite_books(@user) %>

<%= favorite_authors(@user) %>

<%= favorite_genres(@user) %>
